body {
    margin: 0;
    padding: 0;
    width: 1300px;
    height: 600px;
    /* background-color: #1b2426; */
    color: #5b6466;
    background-size: 100% 100%;
    background-image: url(./img/chess-background.jpg);
    background-repeat: no-repeat;
}

#content {
    width: 90%;
    height: 90%;
    margin: 0;
    padding: 0;
}

#header {
    width: 90%;
    height: 15%;
    margin: auto;
}

#game-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 15%;
    height: 30%;
}

#game-title:hover {
    font-family: 'Courier New', Courier, monospace;
}

/* #high-score {} */

#play-station {
    margin: 10px auto;
    width: 90%;
    height: 50%;
}

/* #dice-img {} */

#footer {
    margin: auto;
    width: 90%;
    height: 15%;
}

#roll-dice {
    padding: 2px 2px;
    border-radius: 5px;    
    color: #ffffff;
    width: 15%;
    height: 30%;
    background-color: #4caf50;
    cursor: pointer;
}

#roll-dice:hover{
    text-align: center;
    padding: 4px 2px;
    border-radius: 7px;    
    color: #ffadff;
    background-color: #0db313;
    cursor: pointer;
}
/* #4caf50 color for the bg */
/* 
#chances-left {}

#current-score {} */

img {
    width: 15%;
    height: 20%;
    padding: 5px;
}

p {
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.zero-box {
    margin: 0;
    border: none;
    padding: 0;
}

.ten-percent-box {
    margin: 2% 2% 2% 2%;
    border: 1% solid #373d3f;
    padding: 2% 2% 2% 2%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.display-inline {
    display: inline;
}

/* 
    Making the page responsive to device size

    width of body: 1300px;
    height of body: 600px;
    width: 15%;
    height: 20%;
    width and height are reduced by 10%
 */

 /* reduce 10% */
@media(max-width:1170px) {
    img {
        width: 13.5%;
        height: 18%;
        padding: auto;
        margin: auto;
    }
}

/* reduce 20% */
@media(max-width:936px) {
    img {
        width: 10.8%;
        height: 14.4%;
        padding: auto;
        margin: auto;
    }
}

/* reduce 30% */
@media(max-width:655.2px) {
    img {
        width: 7.56%;
        height: 10.08%;
        padding: auto;
        margin: auto;
    }
}

/* reduce 40% */
@media(max-width:468px) {
    img {
        width: 5.4%;
        height: 6.048%;
        padding: auto;
        margin: auto;
    }
}


/* reduce 50% */
@media(max-width:234px) {
    img {
        width: 2.7%;
        height: 3.024%;
        padding: auto;
        margin: auto;
    }
}
